/* css reset*/
@import url(http://fonts.googleapis.com/css?family=Bubblegum+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

html, ul, body, div, span, h1, h2, h3, h4, h5, h6, p, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	outline: none;
}

ul{
	list-style: none;
}

body {
	line-height: 1;
}

h1, h2, h3{
	margin: 0px 0px 4px 0px;
}

h1{
	font-size: 2.3em;
	color: #333;
}

h2{
	font-family: 'Bubblegum Sans', cursive;
	font-size: 1.8em;
	color: #FFF;
}

h3{
	font-size: 1.5em;
	color: #FFF;
}

button{
	outline: none;
	border: none;
	cursor: pointer;
}

/*css reset*/

#topo{
	width: 100%;
	height: 300px;
	position: fixed;
}

.tp-desc{
    width: 200px;
    height: auto;
    text-align: center;
    margin-left: -100px;
    margin-top: -100px;
    /*background: #f30;*/
    top: 50%;
    left: 50%;
    z-index: 1001;
    position: absolute;
}

.tp-desc img{
	width: 100%;
}

#content{
	width: 100%;
	height: auto;
	text-align: center;
	background: #FFF;
	top: 300px;
	z-index: 1002;
	position: relative;
}

.sec-one{
	width: 100%;
	height: auto;
	background: #FFF;
	padding: 30px 0px;
	float: left;
}

.sec-two{
	width: 100%;
	height: auto;
	color: #FFF;
	background: #019C59;
	padding: 30px 0px;
	float: left;
}

.sec-two ul li{
	font-size: 1.8em;
	font-weight: 400;
}

.sec-three{
	width: 100%;
	height: auto;
	background: #FFF;
	color: #FFF;
	padding: 30px 0px;
	float: left;
}

.git-project{
	width: 190px;
	height: auto;
	text-indent: 48px;
	background: url(../imagem/github-icon.png) no-repeat left center #FFF;
	border: 2px solid #019F59;
	border-radius: 10px;
	padding: 20px 10px;
}


/* pea slider*/
peaslider{
	width: 100%; 
	height: 300px;
	z-index: 1000;
	float: left;
}

slide-content{
	-webkit-animation: fadein 1s both;
	-o-animation: fadein 1s both;
	-moz-animation: fadein 1s both;
	animation: fadein 1s both;
}

slide-content img {
	width: 100%;
	height: 300px;
}

pea-desc{
	width: 393px;
	height: 290px;
	padding: 50px 37px 15px;
	text-align: right;
	top: 0px;
	left: 0px;
	font-size: 18px;
	color: #FFF;
	background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
	position: absolute;
}

.pea-slider-loading{
	background: url(../imagem/loading.gif) no-repeat bottom right;
}

.is-hidden-img{
	display: none;
}

.fadeout{
	-webkit-animation: fadeout 1s both;
	-o-animation: fadeout 1s both;
	-moz-animation: fadeout 1s both;
	animation: fadeout 1s both;
}

/* normal */
@keyframes fadein{
	from{
		opacity: 0;
	}

	to{
		opacity: 0.1;
	}
	to{
		opacity: 0.2;
	}
	to{
		opacity: 0.4;
	}
	to{
		opacity: 0.6;
	}
	to{
		opacity: 0.8;
	}
	to{
		opacity: 1;
	}
}

@keyframes fadeout{
	to{
		opacity: 0;
	}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadein{
	from{
		opacity: 0;
	}

	to{
		opacity: 0.1;
	}
	to{
		opacity: 0.2;
	}
	to{
		opacity: 0.4;
	}
	to{
		opacity: 0.6;
	}
	to{
		opacity: 0.8;
	}
	to{
		opacity: 1;
	}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeout{
	to{
		opacity: 0;
	}
}

.pea-next{
	width: 55px;
	height: 69px;
	background: url(../imagem/setas-slide.png) no-repeat -55px 0px;
	top: 40%;
	right:0px;
	position: absolute;	

}

.pea-prev{
	width: 55px;
	height: 69px;
	background: url(../imagem/setas-slide.png) no-repeat 0px 0px;
	top: 40%;
	left:0px;
	position: absolute;	

}
/* pea-slider */